<div class="container" style="text-align:center; margin-bottom: 40px">
  <h2 class="mx-auto" style="margin-top:5%">Busqueda de datos</h2>
  <hr>
  <form [formGroup]="searchForm" (ngSubmit)="searchData()" class="col-6 mx-auto">
    <div class="form-group">
      <label class="label label-default">Referencia: </label>
      <input class="form-control"formControlName="reference"  type="text" />
    </div>
    <div class="form-group">
      <label>Desde: </label>
      <input class="form-control" formControlName="from" type="date" />
    </div>
    <div class="form-group">
      <label>Hasta: </label>
      <input class="form-control" formControlName="to" type="date" />
    </div>
    <div class="form-group">
      <label>Consorcio: </label>
      <select class="form-control" formControlName="client" required>
          <option value="" selected>Seleccione un consorcio...</option>
          <option *ngFor="let client of clients" [value]="client" >{{ client }}</option>          
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Buscar</button>
  </form>
</div>